{% extends 'base.html' %}

{% comment %} for head title tags and helping us with SEO {% endcomment %}
{% block title %}Spots{% endblock  %}

{% block content %}

<h1 class="title pt-5">Trending Spots{% if spot and spot.pk == spot.location_id %} in {{spot.location.city}} {% endif %}</h1>
<div class="gallery">
  {% for spot in spots %}
  <a href="{% url 'spot_detail' spot.pk %}">
    <div class="card">
      <div class="card-image">
        <figure class="image is-square">
          <img src="{{spot.image.url}}" alt="{{spot.name}}" />
        </figure>
      </div>
      <div class="card-header">
        <p class="card-header-title">{{spot.name}}</p>
        <p class="card-header-title">{{spot.num_stars}} stars</p>
      </div>
    </div>
  </a>
	{% empty %}
  <article class="message">
    <div class="message-header">
      <p>No Spots Available</p>
    </div>
  </article>
  {% endfor %}
  <a class="button is-dark" href="{% url 'spot_create' %}">Add Spot +</a>
</div>
{% endblock %}